html {
  background-color: aliceblue;
}

/* Feed */

.posts {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
  width: 50%;
}

.post {
  padding-top: 2em;
  width: 100%;
}

.post img {
  height: 30em;
  width: 45em;
}

.post-toolbar {
  display: flex;
  width: 100%;
}

.post-toolbar p {
  width: 50%;
}

.post-toolbar p:last-child {
  padding-left: 36em;
}

/* Add New Dropdown */

.add-new-dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 15em;
}

.add-new-dropdown p, label, input, button {
  margin: 0.3em;
}
